<div>
  <main role="main">
    <a id="main-content" tabindex="-1"></a>

    <div class="header-section">
      <div class="container-fluid px-0">
        {{ page.header }}
        </div>  
    </div>
    <div class="field-content">
      <div class="container-fluid px-0">
        {{ page.banner }}
        </div>  
    </div>
    <div class="about">
      <div class="container-xxl">
        <div class="row">
          <div class="col-md-6">
            {{ page.about_left }}
          </div>
          <div class="col-md-6">
            {{ page.about_right }}
          </div>
        </div>
      </div>
    </div>
    <div class="menu">
      <div class="container-xxl">
        <div class="row">
          <div class="col-md-6">
            {{ page.menu_left }}
          </div>
          <div class="col-md-6">
            {{ page.menu_right }}
          </div>
        </div>
      </div>
    </div>
   <div class="tax-content">
      <div class="container-fluid ">
          <div class="row">
                <div class="col-md-6 align-self-center">
                  {{ page.tax_left }}
                </div>  
                <div class="col-md-6">
                  {{ page.tax_right }}
                </div> 
          </div>
        </div>  
    </div>

    <div class="footer">
      <div class="container-fluid ">
        <div class="row">
            <div class="col-md-6">
              {{ page.footer_left }}
            </div>
            <div class="col-md-6">
              {{ page.footer_right }}
            </div>
          </div>
        </div>  
    </div>
  </main>

</div>
